

.banner {
    background-color: transparent;      
    /* background-size: 100%;          
    background-image: url("../../assets/pastel.jpg"); */
    width:100%;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding-bottom: 0px;
    border:none;
    
 

    }

   
    .banner-img {
        
        height: 50%;
        width: 40%;
       
        z-index: 0;
        
    }

   
   