.banner {
                    
    background-color: whitesmoke;
    width:75%;
    height: 25%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
 

    }

   

   /*  
    @keyframes example {
        0%   {background-color: red;}
        25%  {background-color: yellow;}
        50%  {background-color: blue;}
        100% {background-color: green;}
      }
      permet de faire varier la couleur qd on passe la souris dessus
 */
    .banner-img {
        
        height: 30%;
        width: 70%;
       
        z-index: 0;
        
    }

   
   