.footer {
                    
    background-color: rgb(145, 145, 255);
       width: 100vw;
       height: 100vw;
       height: 100vh;
       text-align:center;
       min-width: 375px;
       

    }
  