.footer {
                    
   background-color: #408ae6;
   
    width:75%;
    height: 25%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
       

    }
  