
.wrapper{
    background-color: ffffff;
    /* background-size: 100%;          
    background-image: url("../../assets/pastel.jpg"); */
    width:100%;
    height: 100%; /* si prblm de layout check ici */
    display: inline-flex;
    flex-direction: column;   
  padding: 0;
  margin: 0;
  border:none;
}

.pet-area {
    position: relative;
    top: 33%;
    left: 0%;
    text-align: center;   
    background-color: transparent;
}


.pet-area-img {
    height: 40%;
    width: 50%;
    top: 33%;
    left: 0%;
    z-index: 0;
    position: relative;
    border: 7px solid white;
    background-color: transparent;
    
}

.smoke-img{
    height: 99.2%;
    width: 50%;
    z-index: 20;
    position: absolute;
    top: 0%;
    left: 25%;
  
}

.containers{
    height: 30vw;  /* si prblm de layout check ici (repasser en %) */
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;

  
    
    
}

.container1{
    background-color: transparent;


   
  
}

.container2{
    background-color: transparent;
   

    
}

.container3{
    background-color: transparent;
   
   
    
}

.containergauge1{
    
    background-color: transparent;
   
    
}

.containerbutton1{
    background-color: transparent;    
}

.containergauge2{
    background-color: transparent;
}

.containerbutton2{
    background-color: transparent;
}

.containergauge3{
    background-color: transparent;
}

.containerbutton3{
    background-color: transparent;
}

.gauge{
    
}

